CONFIG_ARCH_SONY_MURRAY=y
CONFIG_IFPM_SM5038=y
# CONFIG_LEDS_QPNP_VIBRATOR_LDO is not set
CONFIG_NFC_SN1X0_DEVICES=y
CONFIG_SM5038_SUPPORT_SBU=y
CONFIG_SM5038_WATER_DETECTION_ENABLE=y
CONFIG_MACH_SONY_PDX225=y
# CONFIG_MACH_SONY_PDX225_J is not set
CONFIG_NXP_P73v1_DEVICES=y
CONFIG_TCP_CONG_BBR=y
CONFIG_NET_SCH_FQ=y
CONFIG_DEFAULT_TCP_CONG="bbr"
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_ZRAM=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_TRANSPARENT_HUGEPAGE_MADVISE=y
